---
import Layout from "../layouts/BaseLayout.astro";
import App from "../components/App.tsx";

const widgets = [
	{ id: (Math.random() * 1000000).toFixed(0), title: "Sticky Note", description: "Write stuff here.", type: "stickynote" },
	{ id: (Math.random() * 1000000).toFixed(0), title: "Weather", description: "Shows the current weather.", type: "weather" },
];
---

<Layout>
	<h1>Homepage Editor</h1>
	<App widgets={widgets} client:load />
</Layout>
